/* *****IMPORTS***** */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* *****UNIVERSAL STYLING***** */
body {
    font-size: 22px;
    background-color: #ffff; 
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
    color: #303030;
    letter-spacing: 4px;   
}

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;  
    letter-spacing: 6px;
    color: #303030;
}

/* *****SHARED STYLING***** */
header#site-main-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
    transition: all .3s;
}

header#site-main-header.scrolled-header-style {
    background-color: #00000090;
}

header#site-main-header .main-header-wrapper {

}

header#site-main-header.scrolled-header-style .main-header-wrapper {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

header .main-header-wrapper #logo-link {
    text-decoration: none;  
}

header .main-header-wrapper #logo-link h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 25px;
    margin: 15px 0;
    text-transform: uppercase;
    color: #303030;
}

header#site-main-header.scrolled-header-style .main-header-wrapper #logo-link h2 {
    font-size: 2rem;
    color: #fff;
}

header > .main-header-wrapper > nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px auto 10px auto;
    width: 70%;
    
}

header#site-main-header.scrolled-header-style .main-header-wrapper > nav {
    margin: auto;
}

header > .main-header-wrapper > nav a {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 5px;
    letter-spacing: 5px;
}

header#site-main-header.scrolled-header-style .main-header-wrapper > nav a {
    color: #fff !important;
    padding-bottom: 0;
}

header > .main-header-wrapper > nav > a > .nav-hover-line {
    display: block;
    margin: 5px auto;
    height: 2px;
    width: 60px;
    opacity: 0%;
    background-color: #00BFF3;
    transition: opacity 1s linear .05s;
}

header > .main-header-wrapper > nav > a:hover > .nav-hover-line {
    opacity: 100%;
}

.page-hero-container {
    background-color: #00BFF3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.page-hero-msg {
    background-color: rgba(0, 0, 0, 0.70);
    width: 80%;
    margin: 0 auto;
}

.page-hero-msg h1, .page-hero-msg h2, .page-hero-msg p {
    color: #ffff;
    font-weight: 100;
}

.page-hero-msg h1 {
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.page-hero-msg h2 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.page-hero-msg p {
    font-size: 1.2rem;
    width: 70%;
    margin: 50px auto;
    line-height: 30px;
}

.hero-msg-wrapper {
    padding: 50px 0 ;
}

.hero-msg-wrapper h1 {
    margin-top: 0px;
}

.hero-msg-wrapper h2 {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section-title-1 {
    margin-top: 100px;
}
 
.section-title-1 > h2,   
.section-title-1 > p{
    color: #303030;
    text-align: center;

}

.section-title-1 > h2 {
    font-size: 2.3rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.section-title-1 > p {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 50px auto 0 auto;
    font-style: italic;
}

.bar-divider-1 {
    height: 2px;
    width: 100px;
    background-color: #00BFF3;
    margin: auto;
}

.bar-divider-left {
    display: block;
    height: 2px;
    width: 80px;
    background-color: #00BFF3;
    margin-left: 0;
    margin-right: auto;
}

.main-page-grid {
    max-width: 1400px;
    margin: 0 auto;
}

.three-col-row { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
}

.three-col-row > .card-col-1 {
    grid-column: 1/2;
}

.three-col-row > .card-col-2 {
    grid-column: 2/3;
}

.three-col-row > .card-col-3 {
    grid-column: 3/4;
}

.two-col-row { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 80px;
}

.two-col-row > .card-col-1 {
    grid-column: 2/3;
}

.two-col-row > .card-col-2 {
    grid-column: 4/5;
}


footer {
    background-image: url("../images/pexels-oleksandr-tiupa-192136.jpg");
    background-color: #00BFF3;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

footer > .footer-wrapper > .footer-container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.footer-container h3, .footer-container a {
    color: #fff;
}

.footer-nav {
    grid-column: 1/2;
}

.footer-work-links {
    position: relative;
    grid-column: 2/3;
    text-align: right;
}

.footer-nav > h3 {
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 0;;
    margin-bottom: 15px;  
    
}

.footer-nav > .bar-divider-left {
    margin-bottom: 40px;
}

.footer-nav > h3 > .bar-divider-left {
    width: 0px;
    transition: width .6s;
}

.footer-nav > h3:hover > .bar-divider-left {
    width: 50px;
}

.footer-nav > h3 > a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.footer-work-links > a > img{
    width: 70px;
    margin-left: 40px;
    opacity: 70%;
    border-radius: 15px;
    transition: transform .5s, opacity .6s;
}

.footer-work-links > a:hover > img {
    transform: scale(1.1);
    opacity: 100%;
}

.footer-work-links > p {
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* *****HOME PAGE STYLING***** */

#home-hero {
    background-image: url("../images/pexels-denniz-futalan-942547.jpg");
}

#home-hero-msg {
    padding: 50px 0 ;
}


#profile-image {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

#profile-image > .mySlides {
    display: none;
    border: 0px;   
}

#profile-image > .mySlides > img {
    border: 0px;
    margin-bottom: 0px;
    width: 200px;
    margin-bottom: -5px;
}

/* Fading animation for carouse profile picture */
.fade {
    animation-name: fade;
    animation-duration: 4s;
  }
  
  @keyframes fade {
    0%   {opacity: 0}
    50%  {opacity: 1}
    90%  {opacity: 1}
    100% {opacity: 0}
  }

#typewriter > span {
    color: rgba(255, 255, 255, 0.528);
    font-family: 'Playfair Display', serif;  
    letter-spacing: 6px;
    font-size: 2.3rem;
    font-weight: 100;
    animation: blinkers 1s linear infinite;
}

#typewriter > span {
    animation: blinkers .5s linear infinite; 
}

@keyframes blinkers {
    50%   {opacity: 0};
  }

.work-links nav {
    margin: 50px 0;
}

.work-links nav a img{
    width: 70px;
    margin: 0 20px;
    opacity: 60%;
    border-radius: 15px;
    transition: transform .5s, opacity .6s;
}

.work-links nav a:hover img {
    transform: scale(1.1);
    opacity: 90%;
}

.work-links .button-container {
    margin-top: 70px;
    margin-bottom: 30px;
}

.work-links .button-container .cv-button {
    display: inline-block;
    text-decoration: none;
    background-color: #00bef394;
    padding: 10px 30px;
    border: 2px solid #00bef3;
    border-radius: 5px;
    color: #ffff;
    transition: background-color .5s, transform .5s;
}

.work-links > .button-container > .cv-button:hover {
    background-color: #00000000;
    transform: scale(1.04) translateY(-3px);
    border: 2px solid #ffff;
}

/*this is the flip-card section start*/
.services-row.three-col-row {
    text-align: center;
    margin: 70px 0 200px 0;
}

.services-row > .card-container.home {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.services-row > .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #3030304f;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    top: -100%;
}

.flip-card-front { 
    background-color: #ef233ba4;
}

.flip-card-front > .flip-card-front-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flip-card-back {
    background-color: #303030;
    transform: rotateY(180deg);
}

.flip-card-back > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0 50px;
}

.services-row > .card-container.home > .flip-card-inner img {
    box-shadow: 5px 5px 10px #3030304f;
}

.services-row > .card-container.home > .flip-card-inner h3 {
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.services-row > .card-container.home > .flip-card-inner .flip-card-back p {
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 30px;
}

.skills-row {
    text-align: center;
}

/* this is the flip-card section end */


/* *****MY SKILLS PAGE STYLING***** */

#skills-hero {
    background-image: url("../images/pexels-sam-willis-1154619.jpg");
}


.skills-row {
    margin: 80px 0;
}

.skills-row.three-col-row {
    margin: 100px 0;
}

.skills-row.three-col-row > .card-container.skills, .skills-row.two-col-row > .card-container.skills  {
    width: 216px;
    margin: 0 auto;
    transition: transform .5s;
}

.skills-row.three-col-row > .card-container.skills:hover, .skills-row.two-col-row > .card-container:hover {
    transform: scale(1.1);
}

.skills-row.two-col-row > .card-container.skills > img, .skills-row.three-col-row > .card-container.skills > img {
    border-radius: 50%;
    box-shadow: 5px 5px 10px #3030304f;
}

.skills-row.two-col-row > .card-container.skills > h3, .skills-row.three-col-row > .card-container.skills > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 8px; 
}

/* resources for styling
https://www.youtube.com/watch?v=0198ceyTVtg
https://www.youtube.com/watch?v=IHQMOklyqXM
*/

.card-container.skills .progress-line {
    margin-top: 40px;
    position: relative;
    height: 7px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #30303023;
    display: none;

}

.card-container.skills:hover .progress-line {
    display: block;
    animation: fade_in_bar .8s linear;  
}

@keyframes fade_in_bar {
    0%   {opacity: 0; }
    25%  {opacity: .25;}
    50%  {opacity: .50; }
    75%  {opacity: .75;}
    100% {opacity: 1;}
  }

.card-container.skills .progress-line > span {
    height: 100%;
    background: #00BFF3;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.card-container.skills .progress-line > span::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-width:0px;
    border-right-width: 0px;
    border-top-color: #303030;
    right: 0px;
    top: -12px
}

.card-container.skills .progress-line > span::after {
    position: absolute;
    content: attr(data-skills-percent);
    right: 0%;
    top: -26px;
    color: #fff;
    font-size: .7rem;
    background: #303030;
    padding: 1px 8px;
    border-radius: 3px;
    letter-spacing: 1px;
}

.my-skills-download-cv {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.my-skills-download-cv > a {
    display: inline-block;
    box-shadow: 5px 5px 10px #3030304f;
    text-decoration: none;
    background-color: #303030;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffff;
    transition: background-color .5s, transform .5s;
}

.my-skills-download-cv > a:hover {
    background-color: #EF233C;
    transform: scale(1.04) translateY(-3px);
}


/* *****ABOUT ME PAGE STYLING***** */

#about-hero {
    background-image: url("../images/Depositphotos_57558765_Lcentr.jpg");
}

.hero-msg-wrapper.about-hero-msg-wrapper > h2 > span {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}

.about-work-row.three-col-row {
    margin: 100px 0;
}

.about-work-row.three-col-row > .about {
    border-left: 1px solid #30303028;
}

.about-work-row.three-col-row > .about > .about-work-header {
    border-left: 4px solid #EF233C;
    padding: 5px 0;
    margin-left: -1px;
    transition: border .5s ease;
}

.about-work-row.three-col-row > .about:hover > .about-work-header {
    border-left: 4px solid #00BFF3;
}


.about-work-row.three-col-row > .about > .about-work-header h3,
.about-work-row.three-col-row > .about > img,
.about-work-row.three-col-row > .about > .about-work-content {
    width: 80%;
    margin: 0 auto;
}

.about-work-row.three-col-row > .about > .about-work-header h3 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.about-work-row.three-col-row > .about > .about-work-content h4 {
    display: none;
}

.about-work-row.three-col-row > .about > img {
    display: block;
    margin-top: 25px;
    box-shadow: 5px 5px 10px #3030304f;
    opacity: 70%;
    transition: transform .5s, opacity .8s;
}

.about-work-row.three-col-row > .about:hover > img {
    transform: scale(1.02);
    opacity: 100%;
}

.about-work-row.three-col-row > .about > .about-work-content {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.about-work-row.three-col-row > .about > .about-work-content > p > em {
    font-weight: 100;
}

.education-row { 
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.education-row > .card-col-1 {
    grid-column: 1/2;
    text-align: right;
    border-right: 6px solid #00BFF3;
    margin-right: -3px;
    padding-bottom: 80px;
}

.education-row > .card-col-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    border-left: 6px solid #00BFF3;
    margin-left: -3px;
    padding-bottom: 80px;
}

.education-row > .card-col-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: right;
    border-right: 6px solid #00bef300;
    margin-right: -3px;
}

.education-row > .card-container > img {
    border-radius: 50%;
    width: 150px;
    box-shadow: 5px 5px 10px #3030304f;
}

.education-row > .card-container > .educ-content > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 0;
}

.education-row > .card-container > .educ-content > p {
    color: #303030;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 30px;
    margin: 0;
}

.education-row > .card-col-1 > img,
.education-row > .card-col-3 > img {
    float: right;
    margin-right: -78px;
}

.education-row > .card-col-2 > img {
    float: left;
    margin-left: -78px;
}

.education-row > .card-col-1 > .educ-content,
.education-row > .card-col-3 > .educ-content {
    margin-right: 100px;
}

.education-row > .card-col-2 > .educ-content {
    margin-left: 100px;
}




/*
.testing-div::before {
    content: "";
    height: 0px;
    width: 0px;
    border: 8px solid transparent;
    border-bottom-width:0px;
    border-right-width: 0px;
    border-top-color: #000;

}

*/




/*

.services-row > .card-container.home {
    border-radius: 20px;
    padding: 50px 40px;
    box-shadow: 5px 5px 10px #3030304f;
    transition: transform .5s;
}

.services-row > .card-container.home:hover {
    transform: scale(1.05);
}

*/

